<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AWSProfileName" value="traffiter" />
    <add key="AWSAccessKey" value="AKIAJMJFGAFFKZ442LIQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="imageDomain" value="https://s3-ap-southeast-1.amazonaws.com/traffiti/"/>
  </appSettings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
